@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
  background-image: linear-gradient(#FFC077 , bisque);
  height: 100vh;
}

.topnav ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
  list-style-type: none;
  margin: 2px;
}

ul li a{
  text-decoration: none;
  color:black;
  padding: 5px 20px;
}

ul li a:hover{
  color:orangered;
  font-size: 25px;
}

ul li.current a{
  color: #cc5500;
  font-size: 25px;
}

input[type=text], select, input[type=tel], input[type=password] {
  width: 100%; 
  padding: 20px; 
  border: 1px solid #ccc;
  border-radius: 30px; 
  box-sizing: border-box; 
  margin-top: 10px;
  resize: vertical 
}

button[type=submit] {
  background-color: #cc5500;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: 12px;
  margin-left: 40%;
  margin-right: 40%;
}

button[type=submit]:hover {
  background-color: orangered;
}

.container {
  padding: 5rem;
  padding-left: 25rem;
  padding-right: 25rem;
  padding-top: 8rem;
}

.container h2 {
  text-align: center;
  margin-bottom: 15px;
}